name: Mega-Account-Gen-Node

on:
  workflow_dispatch:

jobs:
  gen:
    runs-on: ubuntu-latest
    outputs:
      mega_cred: ${{ steps.read.outputs.cred }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Clone mega-account-generator
        run: |
          git clone https://github.com/crackhub-dev/mega-account-generator.git
          cd mega-account-generator
          npm i

      - name: Run Generator (Retry up to 3 times)
        run: |
          cd mega-account-generator
          tries=0
          success=0
          while [ $tries -lt 3 ]; do
            node . && success=1 && break
            tries=$((tries+1))
            echo "Retry attempt: $tries"
            rm -rf tmp/*
          done
          if [ $success -eq 0 ]; then
            echo "ERROR: Account generation failed after 3 attempts."
            exit 1
          fi

      - name: Read details.json
        id: read
        run: |
          file=mega-account-generator/details.json
          email=$(jq -r '.email' "$file")
          pass=$(jq -r '.password' "$file")
          echo "cred=$email $pass" >> $GITHUB_OUTPUT
          echo "=== GENERATED ACCOUNT ==="
          echo "$email $pass"
